<body class="explore">
  <!--? USER PROFILE TILE -->
  <div class="container">
    <div class="item item 1">
      <div class="flex-ctr">
        <img
          class="pp"
          src="https://www.shareicon.net/data/128x128/2015/09/18/103160_man_512x512.png"
        />
        <h1>John Smith</h1>
      </div>
    </div>

    <div class="item item-2">
      <div class="flex-ctr">
        <h3 id="explore-gitusername">@coderrJSmithy</h3>
      </div>
    </div>

    <div class="item item-3">
      <div class="flex-ctr">
        <h3>Your Projects</h3>
      </div>
    </div>

    <div class="item item-4">
      <div class="flex-ctr">
        <h3>Your Bookmarks</h3>
      </div>
    </div>

    <div class="item item-5">
      <div class="flex-ctr">
        <button>+ Add Project</button>
      </div>
    </div>
  </div>

  <!-- PROJECTS FEED -->

  <main class="flex-ctr">MAIN CONTENT</main>
</body>
<%- include('../partials/footer') %>
